@import "../../../styles/colors";
@import "../../../styles/templates";

.input {
  padding: 0 0.2em;
  text-align: center;
  border: none;
  outline: none;
  @include transition;

  &_personal {
    border-bottom: 2px solid $accent-gray;

    &:focus {
      border-bottom: 2px solid $accent-red;
    }
  }

  &_cardNumber,
  &_cardThru,
  &_CVV {
    width: 100%;
    color: $accent-gray;
    background: transparent;

    &:focus {
      color: $primary-light;
    }
  }

  &_cardNumber {
    grid-area: cardNum;
  }

  &_cardThru {
    grid-area: cardThru;
  }

  &_CVV {
    grid-area: CVV;
  }
}
