@import "../../../styles/colors";
@import "../../../styles/templates";

.promo {
  @include transition;

  &__title {
    color: $accent-red;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }

  &__code {
    font-weight: 600;
    color: $accent-orange;
  }
}
