@import "../../styles/colors";
@import "../../styles/templates";

.productsHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  height: 50px;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
  border-bottom: 2px solid $accent-red;

  &__sort {
    padding: 0 0.2em;
    border: none;
    outline: none;
  }

  &__search {
    padding: 0 0.2em;
    border: none;
    border-bottom: 2px solid $accent-gray;
    outline: none;
    @include transition;

    &:focus {
      border-bottom: 2px solid $accent-red;
    }
  }

  &__found {
    margin-left: auto;
  }
}
